<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="{{ site.meta_description }}" />
<meta name="keywords" content="{{ site.meta_keywords }}" />
<meta name="viewport" content="width=device-width">

<title>{{page.title}} : Living Water Christian Reformed Church, Grand Rapids, MI</title>

<link rel="icon" type="image/png " href="{{ 'favicon.ico' | theme_image_url }}" />

{{ 'screen' | stylesheet_tag }}

{{ 'vendor/modernizr-2.6.2-respond-1.1.0.min' | javascript_tag }}
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{ "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" | javascript_tag }}
{{ "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js" | javascript_tag }}

<script type="text/javascript" src="//use.typekit.net/tfg8sqv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>