<section id="story-speakers" data-nav="Speakers">
  <!-- <img class="bg animate" src="{{ 'heros/sky-water.jpg' | theme_image_url }}" anim-detached="true" /> -->

  <div class="story">
    <div class="container">
      <header>
        <h2>God Continues To Make History</h2>
        <h3>Meet the Storytellers.</h3>
      </header>

      <div class="speakers three">
        <div class="speaker">
          <div class="photo">
            <img src="{{ 'speakers/mary-hulst.jpg' | theme_image_url }}" />
          </div>
          <h3>Rev. Mary Hulst</h3>
          <div class="title">College Chaplain</div>
          <div class="org">Calvin College</div>
        </div>

        <div class="speaker">
          <div class="photo">
            <img src="{{ 'speakers/peter-choi.jpg' | theme_image_url }}" />
          </div>
          <h3>Rev. Peter Choi</h3>
          <div class="title">Dir. of Distance Learning</div>
          <div class="org">Calvin Theological Seminary</div>
        </div>

        <div class="speaker">
          <div class="photo">
            <img src="{{ 'speakers/larry-doornbos.jpg' | theme_image_url }}" />
          </div>
          <h3>Rev. Larry Doornbos</h3>
          <div class="title">National Church Planting Leader</div>
          <div class="org">Christian Reformed Church<br /> Home Missions</div>
        </div>
      </div>

      <div class="speakers two">
        <div class="speaker">
          <div class="photo">
            <img src="{{ 'speakers/ben-becksvoort.jpg' | theme_image_url }}" />
          </div>
          <h3>Rev. Ben Becksvoort</h3>
          <div class="title">Great Lakes Regional Team Leader</div>
          <div class="org">Christian Reformed Church<br /> Home Missions</div>
        </div>

        <div class="speaker">
          <div class="photo">
            <img src="{{ 'speakers/josiah-chung.jpg' | theme_image_url }}" />
          </div>
          <h3>Pastor Josiah Chung</h3>
          <div class="title">Church Planter</div>
          <div class="org">Living Water CRC</div>
        </div>
      </div>
    </div>
  </div>
</section>