<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% include 'head' %}
  {% inline_editor %}
</head>
<body id="{{ page.slug | dasherize }}-page" class="{% block page_class %}{% endblock %}">
  <div id="mock-scroller"></div>
  <ul id="nav"></ul>

  {% include 'header' %}

  <div id="content">
    <section id="story-welcome" data-nav="Welcome">
      <img class="bg animate" src="{{ 'heros/sky-water.jpg' | theme_image_url }}" anim-detached="true" />

      <div class="story">
        <div class="container">
          <div class="location">
            Camp Geneva In Holland, Michgan
          </div>

          <div class="presents">
            &mdash; Living Water Presents &mdash;
          </div>

          <div class="positioning_statement">
            {% editable_short_text "introduction", hint: "Introductry paragraph", priority: 1 %}
              God has a plan for you and your Church
            {% endeditable_short_text %}
          </div>

          <div class="targets">
            Child of God / Local Church / Silent Exodus
          </div>

          <div class="call_to_action">
            <div class="pricing">$99</div>
            <div class="register">
              <a href="http://liquidconference.eventbrite.com/">Register</a>
            </div>
            <div class="dates">March 15-17<span>, 2013</span></div>
          </div>
        </div>
      </div>
    </section>

    <section id="story-your" data-nav="Your Story">
      <img class="bg animate" src="{{ 'heros/prayer.jpg' | theme_image_url }}" anim-detached="true" />
      <div class="story">
        <div class="container">
          <header>
            <h2>What Is God Doing In Your Life?</h2>
            <h3>What is Your Story?</h3>
          </header>
        </div>

        <div class="content">
          <div class="container">
            {% editable_long_text "your_description", hint: "Your Page Description", priority: 1 %}
              <p>We believe that God is the primary actor in the this story called "life".  We are just participating in the amazing work that God is already doing.  What has God been doing in your life?  How is God working in your church?  In your ministries?</p>

              <p>We hope to hear what God is already doing in your life.  He has a plan for you and the church.  We were not call to merely exist, but to change the world.  God is already doing the work of changing the world.  How are you participating in His work?</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </div>
    </section>

    <section id="story-speakers" data-nav="Speakers">
      <!-- <img class="bg animate" src="{{ 'heros/praise.jpg' | theme_image_url }}" anim-detached="true" /> -->

      <div class="story">
        <div class="container">
          <header>
            <h2>God Continues To Make History</h2>
            <h3>Meet the Storytellers.</h3>
          </header>

          <div class="speakers three">
            <div class="speaker">
              <div class="photo">
                <img src="{{ 'speakers/mary-hulst.jpg' | theme_image_url }}" />
              </div>
              <h3>Rev. Mary Hulst</h3>
              <div class="title">College Chaplain</div>
              <div class="org">Calvin College</div>
            </div>

            <div class="speaker">
              <div class="photo">
                <img src="{{ 'speakers/peter-choi.jpg' | theme_image_url }}" />
              </div>
              <h3>Rev. Peter Choi</h3>
              <div class="title">Dir. of Distance Learning</div>
              <div class="org">Calvin Theological Seminary</div>
            </div>

            <div class="speaker">
              <div class="photo">
                <img src="{{ 'speakers/larry-doornbos.jpg' | theme_image_url }}" />
              </div>
              <h3>Rev. Larry Doornbos</h3>
              <div class="title">National Church Planting Leader</div>
              <div class="org">Christian Reformed Church<br /> Home Missions</div>
            </div>
          </div>

          <div class="speakers two">
            <div class="speaker">
              <div class="photo">
                <img src="{{ 'speakers/ben-becksvoort.jpg' | theme_image_url }}" />
              </div>
              <h3>Rev. Ben Becksvoort</h3>
              <div class="title">Great Lakes Regional Team Leader</div>
              <div class="org">Christian Reformed Church<br /> Home Missions</div>
            </div>

            <div class="speaker">
              <div class="photo">
                <img src="{{ 'speakers/josiah-chung.jpg' | theme_image_url }}" />
              </div>
              <h3>Pastor Josiah Chung</h3>
              <div class="title">Church Planter</div>
              <div class="org">Living Water CRC</div>
            </div>

            <div class="speaker">
              <div class="photo">
                <img src="{{'speakers/jay-van-groningen.jpg' | theme_image_url }}" />
              </div>
              <h3>Jay Van Groningen</h3>
              <div class="title">Executive Director</div>
              <div class="org">Communities First Association</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="story-venue" data-nav="Venue">
      <img class="bg animate" src="{{ 'heros/geneva.jpg' | theme_image_url }}" anim-detached="true" />

      <div class="story">
        <div class="container">
          <header>
            <h2>Venue</h2>
            <h3>Camp Geneva In Holland, Michgan</h3>
          </header>
        </div>

        <div class="content">
          <div class="container">
            {% editable_long_text "venue_description", hint: "Venue Page Description", priority: 1 %}
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <h3>Driving</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            {% endeditable_long_text %}
          </div>
        </div>

        <!-- <img src="{{ "venue/celebration-center.jpg" | theme_image_url }}" class="celebration_center animate" anim-detached="true" /> -->
      </div>
    </section>

    <section id="story-schedule" data-nav="Schedule">
      <div class="story">
        <div class="container">
          <header>
            <h2>Schedule</h2>
            <h3>Friday, March 15, 2013 - Sunday, March 17, 2013</h3>
          </header>

          {% editable_long_text "schedule_description", hint: "Schedule Page Description", priority: 1 %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          {% endeditable_long_text %}

          <div class="schedule">
            <article class="friday">
              <header>
                <h3>Friday, March 15th, 2013</h3>
              </header>
              <div class="section">
                <h5 class="time">5:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Registration &amp; Coffee</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">6:00PM</h5>
                <img src="{{'speakers/josiah-chung.jpg' | theme_image_url }}" />
                <h4>Welcome &amp; Kickoff</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">6:15PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Dinner &amp; Icebreakers</h4>
              </div>

              <div class="section">
                <h5 class="time">7:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Worship Session #1</h4>
              </div>

              <div class="section">
                <h5 class="time">7:30PM</h5>
                <img src="{{'speakers/peter-choi.jpg' | theme_image_url }}" />
                <h4>Rev. Peter Choi</h4>
                <h6>Director of Distance Learning, Calvin Theological Seminary</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">9:30PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Small Groups</h4>
              </div>
            </article>

            <article class="saturday">
              <header>
                <h3>Saturday, March 16th, 2013</h3>
              </header>
              <div class="section">
                <h5 class="time">7:00AM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Wake Up</h4>
              </div>

              <div class="section">
                <h5 class="time">7:30AM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Breakfast &amp; Quiet Time</h4>
              </div>

              <div class="section">
                <h5 class="time">8:30AM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Worship Session #2</h4>
              </div>

              <div class="section">
                <h5 class="time">9:00AM</h5>
                <img src="{{'speakers/mary-hulst.jpg' | theme_image_url }}" />
                <h4>Rev. Mary Hulst</h4>
                <h6>College Chaplain, Calvin College</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">10:00PM</h5>
                <img src="{{'speakers/mary-hulst.jpg' | theme_image_url }}" />
                <h4>Rev. Mary Hulst - Q&amp;A Session</h4>
                <h6>College Chaplain, Calvin College</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">10:30PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Small Groups</h4>
              </div>

              <div class="section">
                <h5 class="time">12:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Lunch</h4>
              </div>

              <div class="section">
                <h5 class="time">1:30PM</h5>
                <img src="{{'speakers/ben-becksvoort.jpg' | theme_image_url }}" />
                <h4>Rev. Ben Becksvoort</h4>
                <h6>Great Lakes Regional Team Leader, Christian Reformed Church Home Missions</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">2:30PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>30 Min Break</h4>
              </div>

              <div class="section">
                <h5 class="time">3:00PM</h5>
                <img src="{{'speakers/jay-van-groningen.jpg' | theme_image_url }}" />
                <h4>Jay Van Groningen</h4>
                <h6>Executive Director of Communities First Association</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">4:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Small Groups</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">5:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Free Time</h4>
              </div>

              <div class="section">
                <h5 class="time">6:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Dinner</h4>
              </div>

              <div class="section">
                <h5 class="time">7:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Worship Session #3</h4>
              </div>

              <div class="section">
                <h5 class="time">8:00PM</h5>
                <img src="{{'speakers/larry-doornbos.jpg' | theme_image_url }}" />
                <h4>Rev. Larry Doornbos</h4>
                <h6>National Church Planting Team Leader, Christian Reformed Church Home Missions</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">10:00PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Small Groups</h4>
              </div>

              <div class="section">
                <h5 class="time">11:30PM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Free Time</h4>
              </div>
            </article>

            <article class="sunday">
              <header>
                <h3>Sunday, March 17th, 2013</h3>
              </header>
              <div class="section">
                <h5 class="time">8:00AM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Wake Up</h4>
              </div>

              <div class="section">
                <h5 class="time">8:30AM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Breakfast &amp; Quiet Time</h4>
              </div>

              <div class="section">
                <h5 class="time">9:30AM</h5>
                <img src="{{'liquid-bg-dark-small.png' | theme_image_url }}" />
                <h4>Sunday Morning Worship</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="section">
                <h5 class="time">11:00AM</h5>
                <img src="{{'speakers/josiah-chung.jpg' | theme_image_url }}" />
                <h4>Closing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section id="story-about" data-nav="About" anim-pause="1000">
      <img class="bg" src="{{ 'heros/hero3.jpg' | theme_image_url }}" />
      <div class="story">
        <div class="container">
          <header>
            <h2>Connected</h2>
            <h3>We're the About the Big 'C' Church</h3>
          </header>
        </div>

        <div class="content">
          <div class="container">
            {% editable_long_text "about_description", hint: "About Page Description", priority: 1 %}
              <h3>We see a forest, not a tree</h3>

              <p>Ecclesiastes 4:11-12, "If two lie down together, they will keep warm. But how can one keep warm alone? Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken."</p>

              <p>How do the great Sequia's in the Redwood Forest keep standing even in the wildest of storms? It's because the redwood's root systems reach out for great distances and are intertwined with one another. They literally hold each up other up.</p>

              <p>We believe that our ministries must be connected to survive.</p>

              <h3>Lorem ipsum dolor sit amet</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <h3>Lorem ipsum dolor sit amet</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>